<div class="container-fluid d-flex">
  <div class="col-3"></div>
  <div class="col-6 ">
    <form [formGroup]="formTicket" autocomplete="off" class="">
      <div class="form-group row col-12">
        <div class="col-6 p-0 pr-1">
          <label for="price-add">Start Destination: </label>
          <input type="text" formControlName="startDes" id="price-add" class="form-control"
                 placeholder="Please enter start destination"
                 aria-describedby="helpAreaId">
          <div class="text-danger"
               *ngIf="formTicket.controls.startDes.invalid
                     && (formTicket.controls.startDes.touched || formTicket.controls.startDes.dirty)">
            <p class="m-0" *ngIf="formTicket.controls.startDes.hasError('required')">
              Please input startDes!
            </p>
          </div>
        </div>
        <div class="col-6 p-0 pl-1">
          <label>End Destination: </label>
          <input type="text" formControlName="endDes" class="form-control"
                 placeholder="Please enter end destination"
                 aria-describedby="helpCostId">
          <div class="text-danger"
               *ngIf="formTicket.controls.endDes.invalid
                     && (formTicket.controls.endDes.touched || formTicket.controls.endDes.dirty)">
            <p class="m-0" *ngIf="formTicket.controls.endDes.hasError('required')">
              Please input amount product!
            </p>
          </div>
        </div>
        <div class="form-group row col-12">
          <label for="catalog-add">Company: </label>
          <select name="catalog" formControlName="company" [compareWith]="compareByObjectId" class="form-control" id="catalog-add">
            <option value="">-----Please choose-----</option>
            <option *ngFor="let catalog of companyList" [ngValue]="catalog">{{catalog.name}}</option>
          </select>
          <div class="text-danger"
               *ngIf="formTicket.controls.company.invalid
                     && (formTicket.controls.company.touched || formTicket.controls.company.dirty)">
            <p class="m-0" *ngIf="formTicket.controls.company.hasError('required')">
              Please choose Vehicle Company!
            </p>
          </div>
        </div>
        <div class="form-group row col-12">
          <label for="name-add">Start date: </label>
          <input type="date" formControlName="startDate" id="name-add" class="form-control"
                 placeholder="Input name product!"
                 aria-describedby="helpNameId">
          <div class="text-danger"
               *ngIf="formTicket.controls.startDate.invalid
                     && (formTicket.controls.startDate.touched || formTicket.controls.startDate.dirty)">
            <p class="m-0" *ngIf="formTicket.controls.startDate.hasError('required')">
              Please input startDate
            </p>
          </div>
          <div class="text-danger"
               *ngIf="formTicket.controls.startDate.invalid
                     && (formTicket.controls.startDate.touched || formTicket.controls.startDate.dirty)">
            <p *ngIf="formTicket.get('startDate').dirty && formTicket.hasError('notValid', 'startDate')">The start date must be after current date!</p>
          </div>
        </div>
        <div class="form-group row col-12">
          <label for="startHour">Start hour: </label>
          <input type="time" formControlName="startHour" id="startHour" class="form-control"
                 placeholder="Input name product!"
                 aria-describedby="helpNameId">
          <div class="text-danger"
               *ngIf="formTicket.controls.startHour.invalid
                     && (formTicket.controls.startHour.touched || formTicket.controls.startHour.dirty)">
            <p class="m-0" *ngIf="formTicket.controls.startHour.hasError('required')">
              Please input startHour
            </p>
          </div>
        </div>
        <div class="col-6 p-0 pl-1">
          <label for="chiPhi-add">Amount: </label>
          <input type="number" formControlName="amount" id="chiPhi-add" class="form-control"
                 placeholder="Input amount product!"
                 aria-describedby="helpCostId">
          <div class="text-danger"
               *ngIf="formTicket.controls.amount.invalid
                     && (formTicket.controls.amount.touched || formTicket.controls.amount.dirty)">
            <p class="m-0" *ngIf="formTicket.controls.amount.hasError('required')">
              Please input amount ticket!
            </p>
          </div>
          <div class="text-danger"
               *ngIf="formTicket.controls.amount.invalid
                     && (formTicket.controls.amount.touched || formTicket.controls.amount.dirty)">
            <p class="m-0" *ngIf="formTicket.controls.amount.hasError('min')">
              Please input amount bigger than zero!
            </p>
          </div>
        </div>
        <div class="col-6 p-0 pl-1">
          <label for="price">Price: </label>
          <input type="number" formControlName="price" id="price" class="form-control"
                 placeholder="Input amount product!"
                 aria-describedby="helpCostId">
          <div class="text-danger"
               *ngIf="formTicket.controls.price.invalid
                     && (formTicket.controls.price.touched || formTicket.controls.price.dirty)">
            <p class="m-0" *ngIf="formTicket.controls.price.hasError('required')">
              Please input price!
            </p>
          </div>
          <div class="text-danger"
               *ngIf="formTicket.controls.price.invalid
                     && (formTicket.controls.price.touched || formTicket.controls.price.dirty)">
            <p class="m-0" *ngIf="formTicket.controls.price.hasError('min')">
              Please input price bigger than zero!
            </p>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-light" [disabled]="formTicket.invalid" (click)="updateTicket()"
                data-dismiss="modal">Save
        </button>
      </div>
    </form>

  </div>

  <div class="col-3"></div>
</div>
