<h2 class="text-center">
  Todo App
</h2>
<div class="col-md-8 offset-md-2">
  <input type="text" class="form-control" [formControl]="content" (change)="addTodo()">
  <table>
    <tr *ngFor="let todo of todos; index as i">
      <td (click)="toggleTodo(i)"
          [class.complete]="todo.complete"
          >
        {{todo.content}}
      </td>
      <td>
        <button class="btn badge-danger" (click)="deleteTodo(todo.id)">Delete</button>
      </td>
      <td *ngIf="todo.complete">
        <button class="btn badge-success">DONE</button>
      </td>
    </tr>
  </table>
</div>
