<div class="container bg">
  <div class="row infor" style="clear: both">
    <div class="col-sm-4 col-6 div-card">
      <div class="card container-img">
        <img class="card-img-top image" [src]="service1"
             alt="Card image">
        <div class="card-body">
          <div class="information">
            <h5 class="card-title" style="margin-bottom: 0">THOUSAND STAR VIEW</h5>
            <p class="card-text">Room size: 65.5 m2</p>
          </div>
        </div>
        <div class="middle image">
                    <span><a class="btn btn-warning" data-toggle="modal" data-target="#modalEdit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a></span>
          <span>
                        <a href="#" class="btn btn-danger" data-toggle="modal"
                           data-target="#exampleModalCenter"
                           onclick="showInfoDelete()">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-6 div-card">
      <div class="card container-img">
        <img class="card-img-top image" [src]="service2"
             alt="Card image">
        <div class="card-body">
          <div class="information">
            <h5 class="card-title" style="margin-bottom: 0">OCEAN STUDIO SUITE</h5>
            <p class="card-text">Room size: 35.5 m2</p>
          </div>
        </div>
        <div class="middle image">
                    <span><a class="btn btn-warning" data-toggle="modal" data-target="#modalEdit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a></span>
          <span>
                        <a href="#" class="btn btn-danger" data-toggle="modal"
                           data-target="#exampleModalCenter"
                           onclick="showInfoDelete()">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-6 div-card">
      <div class="card container-img">
        <img class="card-img-top image" [src]="service3"
             alt="Card image">
        <div class="card-body">
          <div class="information">
            <h5 class="card-title" style="margin-bottom: 0">OCEAN STUDIO SUITE</h5>
            <p class="card-text">Room size: 52.5 m2</p>
          </div>
        </div>
        <div class="middle image">
                    <span><a class="btn btn-warning" data-toggle="modal" data-target="#modalEdit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a></span>
          <span>
                        <a href="#" class="btn btn-danger" data-toggle="modal"
                           data-target="#exampleModalCenter"
                           onclick="showInfoDelete()">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-6 div-card">
      <div class="card container-img">
        <img class="card-img-top image" [src]="service4"
             alt="Card image">
        <div class="card-body">
          <div class="information">
            <h5 class="card-title" style="margin-bottom: 0">WINTER COMING SUITE</h5>
            <p class="card-text">Room size: 46.5 m2</p>
          </div>
        </div>
        <div class="middle image">
                    <span><a class="btn btn-warning" data-toggle="modal" data-target="#modalEdit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a></span>
          <span>
                        <a href="#" class="btn btn-danger" data-toggle="modal"
                           data-target="#exampleModalCenter"
                           onclick="showInfoDelete()">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-6 div-card">
      <div class="card container-img">
        <img class="card-img-top image" [src]="service5"
             alt="Card image">
        <div class="card-body">
          <div class="information">
            <h5 class="card-title" style="margin-bottom: 0">OCEAN VIEW BUNGALOW</h5>
            <p class="card-text">Room size: 72.5 m2</p>
          </div>
        </div>
        <div class="middle image">
                    <span><a class="btn btn-warning" data-toggle="modal" data-target="#modalEdit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a></span>
          <span>
                        <a href="#" class="btn btn-danger" data-toggle="modal"
                           data-target="#exampleModalCenter"
                           onclick="showInfoDelete()">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-6 div-card">
      <div class="card container-img">
        <img class="card-img-top image" [src]="service6"
             alt="Card image">
        <div class="card-body">
          <div class="information">
            <h5 class="card-title" style="margin-bottom: 0">LAKE VIEW VILLA</h5>
            <p class="card-text">Room size: 59.5 m2</p>
          </div>
        </div>
        <div class="middle image">
                    <span><a class="btn btn-warning" data-toggle="modal" data-target="#modalEdit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a></span>
          <span>
                        <a href="#" class="btn btn-danger" data-toggle="modal"
                           data-target="#exampleModalCenter"
                           onclick="showInfoDelete()">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </span>
        </div>
      </div>
    </div>
  </div>
</div>
