<select [(ngModel)]="firstColor">
  <option value="red">Red</option>
  <option value="blue">Blue</option>
  <option value="orange">Orange</option>
  <option value="yellow">Yellow</option>
  <option value="black">Black</option>
  <option value="green">Green</option>
</select>

<h2 [style.color]="firstColor">This is first paragraph to make color!</h2>

<select [(ngModel)]="secondColor">
  <option value="color: red">Red</option>
  <option value="color: blue">Blue</option>
  <option value="color: orange">Orange</option>
  <option value="color: yellow">Yellow</option>
  <option value="color: black">Black</option>
</select>

<h2 [style]="secondColor">This is second paragraph to make color!</h2>
