<div style="width: 100%" class="col-md-12">
  <div class="container font-italic text-center">
    <h1 class="">--- TICKET MANAGEMENT ---</h1>
  </div>
  <div class="container d-flex mb-3">
    <div class="search row-cols-1 col-md-3 row-col-sm-6 second-sub-nav p-0">
      <div class="form-inline">
        <label for="searchStartDes" class="mr-1 font-weight-bold">
          <i class="fa-solid fa-flag-checkered"></i>
        </label>
        <input [(ngModel)]="startDes" type="text" id="searchStartDes" class="form-control border-secondary"
               placeholder="Enter start destination...">
      </div>
    </div>
    <div class="search row-cols-1 col-md-3 second-sub-nav p-0">
      <div class="form-inline">
        <label for="searchEndDes" class="mr-1 font-weight-bold">
          <i class="fa-solid fa-location-dot"></i>
        </label>
        <input [(ngModel)]="endDes" type="text" id="searchEndDes" class="form-control border-secondary"
               placeholder="Enter end destination...">
      </div>
    </div>
    <div class="search row-cols-1 col-md-2 row-col-sm-6 second-sub-nav mr-2 p-0 text-left">
      <div class="form-inline">
        <label for="searchStartDate" class="mr-1 font-weight-bold">
          <i class="fa-solid fa-hourglass-start"></i>
        </label>
        <input [(ngModel)]="startDate" type="date" id="searchStartDate" class="form-control border-secondary"
               placeholder="Enter start destination...">
      </div>
    </div>
    <div class="search row-cols-1 col-md-2 row-col-sm-6 second-sub-nav p-0 mr-2">
      <div class="form-inline text-left">
        <label for="searchEndDes" class="mr-1 font-weight-bold">
          <i class="fa-solid fa-hourglass-end"></i>
        </label>
        <input [(ngModel)]="endDate" type="date" id="searchEndDate" class="form-control border-secondary"
               placeholder="Enter end destination...">
      </div>
    </div>
    <div class="col-md-1 form-inline">
      <button class="btn btn-success" (click)="search()">
        <i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </div>
  <div class="container" style="clear: both">
    <table class="table table-striped" id="tableCustomer"
           style="border-color: #a71d2a; margin: 0; background-color: white; font-size: 0.9em">
      <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Price</th>
        <th>Start Des</th>
        <th>End Des</th>
        <th>Start date</th>
        <th>Start Hour</th>
        <th>Company</th>
        <th>Amount</th>
        <th>Booking</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of ticketList | paginate : { itemsPerPage: 5, currentPage: page }">
        <td>{{item.id}}</td>
        <td>{{item.price | currency}}</td>
        <td>{{item.startDes}}</td>
        <td>{{item.endDes}}</td>
        <td>{{item.startDate | date:"dd/MM/yy" }}</td>
        <td>{{item.startHour}}</td>
        <td>{{item.company.name}}</td>
        <td>{{item.amount}}</td>
        <td>
          <a class="btn btn-outline-success btn-sm ml-1 mr-1" (click)="getTicketId(item.id)"
             data-toggle="modal" data-target="#bookingModal">BOOK</a>
        </td>
        <td>
          <a class="btn btn-outline-warning w-50 btn-sm ml-1 mr-1" routerLink="/ticket/edit/{{item.id}}"
             (click)="getTicketId(item.id)">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </td>
        <td>
          <a class="btn btn-outline-danger w-50 btn-sm ml-1 mr-1" (click)="getTicketId(item.id)"
             data-toggle="modal" data-target="#deleteModal">
            <i class="fa-solid fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="justify-content: space-around;display: flex;">
    <pagination-controls (pageChange)="page = $event" class=" page-item"></pagination-controls>
  </div>
</div>

<!-- Modal book ticket -->
<div *ngIf="checkTicket" class="modal fade" id="bookingModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title" id="exampleModalLongTitle">CONFIRM BEFORE BOOKING TICKET?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="confirmBooking">
        <div class="modal-body">
          <div>
            <p class="font-italic font-weight-bold">Do you want booking this ticket?</p>
            <p>
              <span>Start Destination: </span>
              <span class="font-weight-bold">{{startDes}}</span>
            </p>
            <p>
              <span>End Destination: </span>
              <span class="font-weight-bold">{{endDes}}</span>
            </p>
            <p>
              <span>Start Date: </span>
              <span class="font-weight-bold">{{startDate}}</span>
            </p>
            <p>
              <span>Start Hour: </span>
              <span class="font-weight-bold">{{startHour}}</span>
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
          <button (click)="bookingTicket()" data-dismiss="modal" class="btn btn-success delete">YES</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Delete -->
<div *ngIf="checkTicket" class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title">CONFIRM DELETE TICKET?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="confirmDelete">
        <div class="modal-body">
          <div>
            <p class="font-italic font-weight-bold">Do you want delete this ticket?</p>
            <p>
              <span>Start Destination: </span>
              <span class="font-weight-bold">{{startDes}}</span>
            </p>
            <p>
              <span>End Destination: </span>
              <span class="font-weight-bold">{{endDes}}</span>
            </p>
            <p>
              <span>Start Date: </span>
              <span class="font-weight-bold">{{startDate}}</span>
            </p>
            <p>
              <span>Start Hour: </span>
              <span class="font-weight-bold">{{startHour}}</span>
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
          <button (click)="deleteTicket()" data-dismiss="modal" class="btn btn-success delete">YES</button>
        </div>
      </div>
    </div>
  </div>
</div>


