<div style="width: 100%" class="col-md-12">
  <div class="container" style="clear: both">
    <table class="table table-striped" id="tableCustomer"
           style="border-color: #a71d2a; margin: 0; background-color: white">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birth Day</th>
        <th>Id Card</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody id="customerList">

      </tbody>
    </table>
  </div>
</div>
