<div style="width: 100%" class="col-md-12">
  <div class="container font-italic d-flex">
    <div class="col-md-7 p-0">
      <h1 class="">--- COMPANY MANAGEMENT ---</h1>
    </div>
    <div class="search row-cols-1 col-md-4 row-col-sm-6 second-sub-nav p-0" style="float: right">
      <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="searchName()">
        <input class="form-control mr-sm-2 search-place" formControlName="name" type="search" placeholder="Search..."
               aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0 search-button" type="submit">SEARCH</button>
      </form>
    </div>
    <div class="create-button col-md-1 p-0 text-right">
      <a data-toggle="modal" data-target="#modalCreate" style="margin: 0.5em;">
        <button type="button" class="btn btn-success"><span>
                        <i class="fa-solid fa-plus"></i>
                    </span>
          <span>
                            NEW
                        </span></button>
      </a>
    </div>
  </div>
  <div class="container" style="clear: both">
    <table class="table table-striped" id="tableCustomer"
           style="border-color: #a71d2a; margin: 0; background-color: white; font-size: 0.9em">
      <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody id="customerList">
      <tr
        *ngFor="let company of companyList |  paginate: {itemsPerPage: 3, currentPage: pageNumber, totalItems: totalPages }, index as idx">
        <td>{{ idx + 1 }}</td>
        <td>{{ company.id }}</td>
        <td>{{ company.name }}</td>
        <td>Good</td>
        <td>
          <a class="btn btn-outline-warning mx-1" routerLink="/customer/update/{{company.id}}">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </td>
        <td>
          <button (click)="getObject(company)" type="button" class="btn btn-outline-danger"
                  data-toggle="modal" data-target="#deleteModal">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div style="justify-content: space-around;display: flex;">
      <pagination-controls (pageChange)="page = $event" class=" page-item"></pagination-controls>
    </div>
  </div>
</div>
