<div style="width: 100%" class="col-md-12">
  <div class="container" style="clear: both">
    <table class="table table-striped" id="tableCustomer"
           style="border-color: #a71d2a; margin: 0; background-color: white">
      <thead class="thead-dark">
      <tr>
        <th>#Code</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Deposit</th>
        <th>Total payment</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody id="contractList">

      </tbody>
    </table>
  </div>
</div>
