<div class="container-fluid">
  <footer class="bd-footer">
    <div class="container footer-container py-5">
      <div class="row">
        <div class="col-lg-3 mb-3 introduce">
          <div class="logo col-md-2">
            <a class="navbar-brand navbar-expand-lg" href="#"><img
              [src]="logo" height="68"
              width="auto"
              alt="#"></a>
          </div>
          <ul class="list-unstyled small text-muted">
            <li class="mb-2">
                            <span>
                                Furama is a premier base for exploring one of Asia’s most exciting new destinations. Just a short drive from Danang lay four UNESCO-listed World Heritage Sites:
                            </span>
            </li>
            <li class="mb-2">
                            <span>
                                1.	The former imperial city of HUE
                            </span>
            </li>
            <li class="mb-2">
                            <span>
                                2.	The ancient Hoi An
                            </span>
            </li>
            <li class="mb-2">
                            <span>
                                3.	Champa civilization, My Son
                            </span>
            </li>
            <li class="mb-2">
                            <span>
                                4.	Phong Nha Caves
                            </span>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">Home</a></li>
            <li class="mb-2"><a href="#">Customer</a></li>
            <li class="mb-2"><a href="#">Employee</a></li>
            <li class="mb-2"><a href="#">Facility</a></li>
            <li class="mb-2"><a href="#">Contract</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Policy</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">Security</a></li>
            <li class="mb-2"><a href="#">Payment</a></li>
            <li class="mb-2"><a href="#">Company trip</a></li>
            <li class="mb-2"><a href="#">Furama family</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Branch</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">Phu Quoc</a></li>
            <li class="mb-2"><a href="#">Quy Nhon</a></li>
            <li class="mb-2"><a href="#">Hue</a></li>
            <li class="mb-2"><a href="#">Da Nang</a></li>
            <li class="mb-2"><a href="#">Ninh Binh</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Community</h5>
          <ul class="list-unstyled" style="color: black">
            <li class="mb-2"><a href="#">Discussions</a></li>
            <li class="mb-2"><a href="#">Open</a></li>
            <li class="mb-2"><a href="#"></a>Public</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
