<div class="container-fluid">
  <div class="home-body">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="carouselCover1" class="d-block w-100"
               alt="...">
        </div>
        <div class="carousel-item">
          <img [src]="carouselCover2" class="d-block w-100"
               alt="...">
        </div>
      </div>
    </div>
  </div>
</div>

<app-service-modal-create></app-service-modal-create>

<app-service-modal-edit></app-service-modal-edit>

<!-- Modal Delete -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="confirmDelete" method="post" action="/facility/delete">
        <div class="modal-body">
          <input type="hidden" name="action" value="delete">
          <input type="hidden" id="id_delete" name="id">
          <div id="name_delete"></div>
          <div id="email_delete"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
          <button type="submit" class="btn btn-danger delete">YES</button>
        </div>
      </form>
    </div>
  </div>
</div>

