
#formCreate {
  border-color: #a71d2a;
  padding: 1em 1em;
}

#formEdit {
  border-color: #a71d2a;
  padding: 1em 1em;
}
.modal-body {
  display: flex;
  padding: 0 0;
}

.modalInput {
  width: 50%;
  padding: 0 0.6em;
}

label {
  font-weight: 600;
  margin-bottom: 0.2em;
  margin-top: 0.5em;
  letter-spacing: 0.2em;
}

#modalCreate input, select {
  padding: 0 0;
}

.modal-header {
  padding: 0.5em 1em;
  background-color: #1d2124;
  font-weight: bold;
  color: #f8f9fa;
}

.modal-body {
  display: flex;
  padding: 0 0;
}

.modal-footer {
  padding: 0 0;
}

.modal-footer button {
  padding: 3px 6px;
}

.form-group {
  margin-bottom: 0.5em;
}

#modalEdit .form-control {
  height: calc(1.2em + 0.75rem + 2px);
  font-size: 0.9em;
  text-align: left;
  padding: 0 0.3em;
}

#modalEdit input, select {
  padding: 0 0;
}

.modal-dialog {
  padding: 1em 1em;
}

#modalCreate .form-control {
  height: calc(1.2em + 0.75rem + 2px);
  font-size: 0.9em;
  text-align: left;
  padding: 0 0.3em;
}

table{
  text-align: center;
}
