<div class="container-fluid pl-0 pr-0 pt-5">
  <footer class="bd-footer">
    <div class="container footer-container py-5">
      <div class="row">
        <div class="col-lg-3 mb-3 introduce">
          <div class="logo col-md-2">
            <a class="navbar-brand navbar-expand-lg" href="#"><img
              [src]="logo" height="68"
              width="auto"
              alt="#"></a>
          </div>
          <ul class="list-unstyled small text-muted">
            <li class="mb-2">
                            <span>
                                This is the final examination of module 5 made by Thien Duy Nguyen. Hope everything will go right and no bug at all the function!
                            </span>
            </li>
            <li class="mb-2">
                            <span>
                                *.	Student: Thien Duy Nguyen
                            </span>
            </li>
            <li class="mb-2">
                            <span>
                                *.	Class: C0222G1
                            </span>
            </li>
            <li class="mb-2">
                            <span>
                                *.	Exam: final examination module 5
                            </span>
            </li>
            <li class="mb-2">
                            <span>
                                *.	Support by Trung Dang, Tien Nguyen
                            </span>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">Home</a></li>
            <li class="mb-2"><a href="#">About us</a></li>
            <li class="mb-2"><a href="#">Coach and Tutor</a></li>
            <li class="mb-2"><a href="#">Student</a></li>
            <li class="mb-2"><a href="#">Partner</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Policy</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">Learning</a></li>
            <li class="mb-2"><a href="#">Final exam</a></li>
            <li class="mb-2"><a href="#">Work search</a></li>
            <li class="mb-2"><a href="#">Everything</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Branch</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">Codegym Da Nang</a></li>
            <li class="mb-2"><a href="#">Codegym Hue</a></li>
            <li class="mb-2"><a href="#">Codegym Quang Tri</a></li>
            <li class="mb-2"><a href="#">Codegym Ha Noi</a></li>
            <li class="mb-2"><a href="#">Cogegym HCM</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Community</h5>
          <ul class="list-unstyled" style="color: black">
            <li class="mb-2"><a href="#">Discussions</a></li>
            <li class="mb-2"><a href="#">Codegym family</a></li>
            <li class="mb-2"><a href="#"></a>Study group</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>


