
<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5 p-2 bg-light text-primary">SIGN UP FORM SS6</h2>
              <form novalidate (ngSubmit)="sign(rfInformation.value)" class="justify-content-md-center" [formGroup]="rfInformation" >
                <div class="form-group row">
                  <label for="name" class="col-md-4">Name</label>
                  <div class="col-md-8">
                    <input id="name" type="text" class="form-control border-primary" formControlName="name">
                    <p *ngIf="rfInformation.get('name').dirty && rfInformation.hasError('required', 'name')">Name is required!</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-md-4">Email</label>
                  <div class="col-md-8">
                    <input id="email" type="text" class="form-control border-primary" formControlName="email">
                    <p *ngIf="rfInformation.get('email').dirty && rfInformation.hasError('required', 'email')">Email is required!</p>
                    <p *ngIf="rfInformation.get('email').dirty && rfInformation.hasError('email', 'email')">This email is not valid!</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password" class="col-md-4">Password</label>
                  <div class="col-md-8">
                    <input id="password" type="password" class="form-control border-primary" formControlName="password">
                    <p *ngIf="rfInformation.get('password').dirty && rfInformation.hasError('required', 'password')">Password is required!</p>
                    <p *ngIf="rfInformation.get('password').dirty && rfInformation.hasError('minlength', 'password')">Password is at least 6 character!</p>
                    <p *ngIf="rfInformation.get('password').dirty && rfInformation.hasError('maxlength', 'password')">Password is at max 18 character!</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="confirmPassword" class="col-md-4">Confirm Password</label>
                  <div class="col-md-8">
                    <input id="confirmPassword" type="password" class="form-control border-primary" formControlName="confirmPassword">
                    <p *ngIf="rfInformation.get('confirmPassword').dirty && rfInformation.hasError('required', 'confirmPassword')">Confirm password is required!</p>
                    <p *ngIf="rfInformation.get('confirmPassword').dirty && rfInformation.hasError('mustMatch', 'confirmPassword')">This not match password!</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="country" class="col-md-4">Country</label>
                  <div class="col-md-8">
                    <select id="country" name="country" class="form-control border-primary" formControlName="country">
                      <option value="">--Select country--</option>
                      <option *ngFor="let country of countryArray">
                        {{country}}
                      </option>
                    </select>
                    <p *ngIf="rfInformation.get('country').dirty && rfInformation.hasError('required', 'country')">Country is required!</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="age" class="col-md-4">Age</label>
                  <div class="col-md-8">
                    <input id="age" name="age" type="date" class="form-control border-primary" formControlName="age">
                    <p *ngIf="rfInformation.get('age').dirty && rfInformation.hasError('required', 'age')">Age is required!</p>
                    <p *ngIf="rfInformation.get('age').dirty && rfInformation.hasError('not18', 'age')">Age must be more than 18!</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4">Gender</label>
                  <div class="col-md-8">
                    <input name="gender" type="radio" formControlName="gender" value="male">Male
                    <input name="gender" type="radio" formControlName="gender" value =female>Female
                    <input name="gender" type="radio" formControlName="gender" value="other">Other
                  </div>
                </div>
                <div class="form-group row">
                  <label for="phone" class="col-md-4">Phone</label>
                  <div class="col-md-8">
                    <input id="phone" name="phone" type="text" class="form-control border-primary" formControlName="phone">
                    <p *ngIf="rfInformation.get('phone').dirty && rfInformation.hasError('required', 'phone')">Phone is required!</p>
                    <p *ngIf="rfInformation.get('phone').dirty && rfInformation.hasError('pattern', 'phone')">Wrong format phone number!</p>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary" [disabled]="this.rfInformation.invalid" >SUBMIT</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
